---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: 3tier-frontend
  namespace: 3tier-demo
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: surendraprajapati/frontend-demoapp:latest
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_API_URL
              value: http://backend-service.3tier-demo.svc.cluster.local
---
apiVersion: v1
kind: Service
metadata:
  name: 3tier-frontend
  namespace: 3tier-demo
  labels:
    app: frontend
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: frontend
